<!DOCTYPE html>

{% extends 'base.html' %}


{% block content %}
        <div class="container-sm py-5 text-center">

            <h2>Allgemeine Geschäftsbedingungen</h2>

            <p></p>
            <p>Diese Seite ist aus meiner Leidenschaft, mein Wissen mit anderen zu teilen, entstanden. Die Inhalte dieser Seite sind rein informativ. Die Seite befindet sich aktuell im Aufbau.</p>
            <p>Die zur Verfügung gestellten Rechen-Tools sind selbst programmiert worden. Die den Berechnungen zugrunde energetische Bilanzierung entspricht einer Vereinfachung des Verfahrens DIN V 18599. Die Rechenergebnisse dienen dazu dem Benutzer einen ersten Überblick zu geben.</p>

            
        </div>
    
    
{% endblock %}