<!DOCTYPE html>


{% extends 'base.html' %}

{% block content %}

<div class="container-fluid p-0">
    <div class="container-xl p-4">
        <div class="row my-4">
            <h1 style="text-align: center">Ihr Partner für innovative Energielösungen</h1>
        </div>
        <div class="row">
            <div class="col col-xs-6 align-self-center">
                <figure class="figure img-fluid " style="min-width: 250px;">
                    <img src="https://energie-experte-ck.de/img/landingpageHouse_4vs3.png" class="figure-img img-fluid  rounded"
                        alt="Bild nicht vorhanden">
                </figure>
            </div>
            <div class="col col-xs-6 align-self-center">
                <h2 style="text-align: center;">
                    <i class="fa-solid fa-bolt"></i>
                    <p>
                        Ein Schritt in eine nachhaltige Zukunft
                    </p>
                </h2>
                <p>
                    Mit umfassender Beratung zeige ich Ihnen, welche Investitionen in Energieeinsparung sich wirklich
                    lohnen. Erfahren Sie, wie Sie Ihre Energieeffizienz verbessern und langfristige Einsparungen
                    erzielen können.
                </p>
            </div>
        </div>
    </div>

    <div class="" style="background-color: lightgrey;">
        <div class="container-xl p-4">
            <div class="row-lg justify-content-center">
                <div class="col">
                    <h2 class="my-2" style="text-align: center;">
                        <i class="fa-solid fa-bolt"></i>
                        <p>
                            Dienstleistungen
                        </p>
                    </h2>
                    <p>
                        Mein Angebot an professionellen Dienstleistungen richtet sich an einen breit gefächerten
                        Kundenkreis, der von Hausbesitzern bis hin zu gewerblichen Bauträgern. Profitieren Sie von
                        meiner Erfahrung mit dem GEG-relevanten Berechnungsverfahren nach DIN V 18599.
                    </p>
                </div>
            </div>
            <div class="row row-cols-sm-2  row-cols-lg-4">
                <div class="col py-4">
                    <div class="d-flex flex-column h-100">
                        <h4 class="mb-2">
                            <i class="fa-solid fa-bolt"></i>
                            <p>
                                Online-Energierechner
                            </p>
                        </h4>
                        <p>
                            Berechnen Sie den Energieverbrauch ihres Gebäudes selbst.
                        </p>
                        <div class="flex-grow-1"></div>
                        <button type="button" class="btn btn-secondary" style="width: 180px;">Energierechner</button>
                    </div>
                </div>

                <div class="col py-4">
                    <div class="d-flex flex-column h-100">
                        <h4 class="mb-2">
                            <i class="fa-solid fa-bolt"></i>
                            <p>
                                Investition in eine Wärmepumpe
                            </p>
                        </h4>
                        <p>
                            Ab wann lohnt sich der Einbau einer Wärmepumpe für Sie?
                        </p>
                        <p>Hier können Sie es selbst ermitteln:</p>
                        <div class="flex-grow-1"></div>
                        <button type="button" class="btn btn-secondary"
                            style="width: 180px;">Investitionsrechner</button>
                    </div>
                </div>

                <div class="col py-4">
                    <div class="d-flex flex-column h-100">
                        <h4 class="mb-2">
                            <i class="fa-solid fa-bolt"></i>
                            <p>
                                Individuelle Sanierungsfahrpläne
                            </p>
                        </h4>
                        <p>
                            Erstellen Sie mit unserem Online-Tool Ihren Sanierungsfahrplan.
                        </p>
                        <p>Jetzt erstellen:</p>
                        <div class="flex-grow-1"></div>
                        <button type="button" class="btn btn-secondary"
                            style="width: 180px;">Sanierungsfahrplan</button>
                    </div>
                </div>

                <div class="col py-4">
                    <div class="d-flex flex-column h-100">
                        <h4 class="mb-2">
                            <i class="fa-solid fa-bolt"></i>
                            <p>
                                Persönliche Beratung
                            </p>
                        </h4>
                        <p>
                            Sie wünschen eine persönliche Beratung zu energetischen Fragen? Gerne berate ich Sie
                            persönlich.
                        </p>
                        <div class="flex-grow-1"></div>
                        <button type="button" class="btn btn-secondary" style="width: 180px;">Kontaktformular</button>
                    </div>
                </div>


            </div>

        </div>


    </div>

    <div class="container-xl p-4">
        <div class="row my-4">
            <h2 style="text-align: center;">
                <i class="fa-solid fa-bolt"></i>
                <p>
                    Über mich
                </p>
            </h2>
        </div>
        <div class="row">

            <div class="col col-xs-6 align-self-center">
                <h2 class="my-4">
                    Christian Karczewski
                </h2>
                <p>
                    <i class="fa-solid fa-bolt"></i>
                    Praxis und Theorie
                </p>
                <p>
                    <i class="fa-solid fa-bolt"></i>
                    Ingenieur aus Leidenschaft
                </p>
                <p>Als wissenschaftlicher Mitarbeiter an der Universität Stuttgart habe ich mich in meiner Doktorarbeit
                    intensiv mit der energetischen Bewertung von Gebäuden nach dem GEG beschäftigt.</p>
            </div>
            <div class="col col-xs-6 align-self-center">
                <figure class="figure img-fluid " style="min-width: 250px;">
                    <img src="https://energie-experte-ck.de/img/ladingpageConsultant.jpg" class="figure-img img-fluid  rounded"
                        alt="Bild nicht vorhanden">
                </figure>
            </div>

        </div>
    </div>

    <div class="bg-dark" style="color:snow;">
        <div class="container-xl p-4" style="text-align: center;">
            <div class="row my-4">
                <h2>
                    <i class="fa-solid fa-bolt"></i>
                    <p>
                        Referenzen
                    </p>
                </h2>
            </div>
            <div class="row">
                <p><em>
                        „Als Energieberater hat Herr Karczewski unsere Erwartungen übertroffen. Seine professionelle
                        Herangehensweise und fundierten Kenntnisse haben uns dabei geholfen, unsere Energieeffizienz zu
                        verbessern und die Kosten zu senken. Wir sind äußerst zufrieden und empfehlen ihn gerne weiter.“
                    </em></p>
                <div>A. Steimle</div>
                <div style="color: lightgrey;">Ludwigsburg</div>
            </div>
        </div>
    </div>

</div>
{% endblock %}

</html>