<!DOCTYPE html>

{% extends 'base.html' %}

{% block js_scripts %}
    <script src="{{ url_for('static', filename='submit.js') }}"></script>
{% endblock %}

{% block content %}
        

        <div class="py-5 text-center" id = "formHead">
            <img class="d-block mx-auto mb-4" src="https://energie-experte-ck.de/img/Logo.png" alt="" width="57"
                height="57">
            <h2>Kontaktformular</h2>
            <p class="lead" id ="formHeadText">Sie haben Fragen? Füllen Sie einfach das untere Kontaktformular aus und ich werde mich umgehend
                bei Ihnen melden.</p>
        </div>
    
        <div class="container-sm" id="formContainer">
            <div class="row g-5">
                <form class="needs-validation" novalidate="" id="kontaktformular"  action="/kontakt" method="post">
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="firstName" class="form-label">Vorname</label>
                            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="" value="" required="">
                            <div class="invalid-feedback">
                                Bitte geben Sie Ihren Vornamen an.
                            </div>
                        </div>
    
                        <div class="col-sm-6">
                            <label for="lastName" class="form-label">Nachname</label>
                            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="" value="" required="">
                            <div class="invalid-feedback">
                                Bitte geben Sie Ihren Nachnamen an.
                            </div>
                        </div>
    
    
                        <div class="col-12">
                            <label for="email" class="form-label">Email </label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="mustermann@mail.de" required="">
                            <div class="invalid-feedback">
                                Bitte geben Sie Ihre Email-Adresse an.
                            </div>
                        </div>
    
                        <div class="col-12">
                            <label for="city" class="form-label">Wohnort</label>
                            <input type="text" class="form-control" id="city" name="city" placeholder="Stuttgart" minlength="3" required="">
                            <div class="invalid-feedback">
                                Bitte geben Sie Ihren Wohnort an.
                            </div>
                        </div>
    
    
                        <div class="col-12">
                            <label for="message" class="form-label">Ihre Nachricht </label>
                            <textarea class="form-control" id="message" name="message" rows="3"
                                placeholder="Guten Tag, bitte kontaktieren Sie mich." minlength="30" required></textarea>
                                <div class="invalid-feedback">
                                    Ihre Nachricht ist zu kurz.
                                </div>
                        </div>
                        
                        <div class="col-12">
                            <label for="spamCheckLabel" class="form-label">Sicherheitsfrage zum Schutz vor Betrug: <span id="spamCheckQuestion"></span></label>
                            <input type="text" class="form-control" id="spamCheckInput" placeholder="" required="">
                            <div class="invalid-feedback">
                                Bitte korrigieren Sie die Eingabe.
                            </div>
                        </div>
    
    
                        <hr class="my-4">
                 
                    <!-- mit type="button" wird festgelegt, dass das Formular nicht direkt gesendet wird-->
                    <button type="submit" class="w-100 btn btn-primary" id="submitBtn">Abschicken</button>
                </form>
                
            </div>
    
        </div>

        <div class="container-fluid p-0 my-4">
        </div>
    </main>
    
{% endblock %}

